.topbar{
    margin: 0;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1c7c5c;
    color: #fff;
    overflow: hidden;
    z-index: 1;
}
.topbar nav{
    position: relative;
}
nav span{
    font-weight: bold;
}
.topbar ul{
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}
.topbar ul li{
    font-family: sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
li button{
    text-transform: uppercase;
}
a.active{
    color: #161818;
}